:root {
  --colorone: #0f3445;
  --colortwo: #e8e4d0;
  --colorthree: #5a1a2b;
  --headlinefont: "Abril Fatface", cursive;
  --mainfont: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
}

a {
  font-family: var(--mainfont);
  text-decoration: none;
}

h1 {
  font-family: var(--headlinefont);
  font-size: 4rem;
  line-height: 1;
}

h2 {
  font-family: var(--headlinefont);
  font-size: 2rem;
  line-height: 0.9;
}

h3 {
  font-family: var(--headlinefont);
  font-size: 1.5rem;
}

p {
  font-family: var(--mainfont);
}

#scroll_container {
  overflow: scroll;
  scroll-behavior: smooth;
  height: calc(100vh - 50px);
}

/** navigation **/

nav {
  width: 100vw;
  height: 30px;
  background-color: var(--colorone);
  padding: 10px 0 5px 0px;
  display: flex;
  flex-direction: row;
}

#logo {
  background-image: url(png/logo.png);
  background-size: 100%;
  height: 30px;
  width: 45px;
  margin-right: 20px;
}
nav a {
  color: white;
  padding: 10px;
}

nav a:hover,
nav a:active {
  color: var(--colortwo);
}

#scroll_info {
  width: 100vw;
  height: 3px;
  background-color: var(--colorone);
  position: relative;
}

#scroll_bar {
  background-color: white;
  width: 5vw;
  height: 3px;
  position: absolute;
  border-radius: 20px;
}

/** classes **/

.hide {
  display: none;
}

/** section 1 / splash **/

#section1 {
  background-color: var(--colorone);
  width: 100vw;
  /* background-image: url(svg/slash1.png);
  background-size: 100%; */
  position: relative;
}

#splash_txt {
  position: absolute;
  top: 10vh;
  left: 20vw;
  color: var(--colortwo);
}

#shape1 {
  height: 20vh;
  width: 20vw;
  position: absolute;
  top: 180px;
  left: 350px;
}

/** section 2 **/

#section2 {
  background-color: var(--colortwo);
  width: 100vw;
  height: 400px;
}

/** section 3 **/

#section3 {
  background-color: var(--colorthree);
  width: 100vw;
  height: 400px;
  color: white;
}

.work {
  line-height: 3;
  width: 300px;
}

.work:hover {
  color: var(--colortwo);
  cursor: pointer;
}

#works_info {
  border: 1px solid black;
  width: 390px;
  padding: 20px;
}

#knap {
  border: 1px solid white;
  padding: 10px;
  color: white;
}

#knap:hover,
#knap:active {
  background-color: var(--colortwo);
  color: black;
}
